
 body {
  font-size: 16px;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
}


::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-thumb {

background:linear-gradient(transparent,#30ff00);
border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {

background:linear-gradient(transparent,#00c6ff);
border-radius: 6px;
}

/** HEADER **/
#header-nav {
  background-color: #808080;
  border-radius: 0;
  border-width: 2px;
  border-color: #000;
  border-left-width: 0px;
  border-right-width: 0px;
}

.navbar-brand {
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #000;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#main-content{
  color: #000;
  font-family: 'Oxygen',sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
   }


.row div{
    width:90%;
    height: 80%;
    margin-left: 50px;
  }



 @media(min-width: 1200px){
    .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
      float:left;
      padding: 10px
    }
.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}
}


section{
    border:1px solid black;
        background-color: #808080;
         font-style: italic;
         font-size: 20px
         text-align: center;
         height: 100%;
         overflow: scroll;
         color:#000;

  }

    section>h2{
    margin: 0;
    font-family: 'Lora', serif;
    font-size: 24px;
    font-weight: bold;
    height: 45px;
    padding-top: 10px;
    color: #000;
    }
  section p{
    color: #000;
  }

 section.india>h2{
      background-color: #000;
      color:#e2e2e2;
       }
 

